

.word_card {
    
    background-color: #e5d2dff6;
    border: 3px solid #eefdec;;
    border-radius: 10px;
    padding: 15px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
    font-size: 14px;
    width: 550px;
    margin-top: 10px;
}

.word_card_block{
    display: flex;
    width: 100%;
    justify-content: center;

}

.word_card_bloc1{
    width: 50%;
} .word_card_bloc2{
    width: 50%;
    border-left:3px solid pink
}

.button_cancel img{
    width:20px;
    cursor: pointer; /* Курсор при наведении */
    margin: 0 auto;
}

.button_change img{
    width:20px;
    cursor: pointer; /* Курсор при наведении */
    margin: 0 auto;

}

.button_delete img{

    width:20px;
   /*background-color: #F8C6D7; /* Нежный светлый пудровый цвет кнопки */

    cursor: pointer; /* Курсор при наведении */
 
}

.input{
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 8px;
    width: 80%;
    margin: 2px;
    margin-top: 5px;
    margin-bottom: 10px;
    font-size: 16px;
    transition: border-color 0.3s;
}

.input:focus {
    border-color: #007bff;
    outline: none;
  }